{% include "header.html" %}
<h1>Change Password</h1>
<form action="/changepassword" method="POST">
   <div>
    Type your old password
   </div>
   <input type="text" name="password"></input>
   <div>
    Input your new password
   </div>
   <input type="password" name="password1"></input>
   <div>
    Input your new password again
   </div>
   <input type="password" name="password2"></input>
   <div>
   <input type="submit" value="Change Password"/>
   </div>
</form>
{% include "footer.html" %}